example.json
{
  "name": "Генерация видео продукта для клиента",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "callback_query",
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -160,
        0
      ],
      "id": "21499fd8-7e6d-49be-a70f-4140a9e8ff22",
      "name": "Telegram Trigger",
      "webhookId": "9e963e78-e84c-4f35-b464-2aed551be7c0",
      "credentials": {
        "telegramApi": {
          "id": "GeDZDSpvn0VuaZQE",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "resource": "folder",
        "operation": "list",
        "path": "/ai_video_clients/"
      },
      "type": "n8n-nodes-base.nextCloud",
      "typeVersion": 1,
      "position": [
        240,
        0
      ],
      "id": "3e4a955a-f1b2-45d2-bf46-acf18bc14b70",
      "name": "Получаем папки клиентов",
      "credentials": {
        "nextCloudApi": {
          "id": "wYchkjy0O3Ge3xUN",
          "name": "NextCloud account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').first().json.message.chat.id }}",
        "text": "Список клиентов:",
        "customJson": "={{$('Преобразуем папки клиентов в подкоманды').first().json}}"
      },
      "type": "@topvisor/n8n-nodes-telegram-send-message-custom.telegramSendMessageCustom",
      "typeVersion": 1,
      "position": [
        864,
        -16
      ],
      "id": "8a1d0865-0ca8-4f55-81c6-732a58cea470",
      "name": "Отправляем доступные команды",
      "credentials": {
        "telegramApi": {
          "id": "GeDZDSpvn0VuaZQE",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Берём все входные элементы\nconst data = $('Получаем папки клиентов').all();\n\n// Формируем inline-клавиатуру из всех элементов\nconst inline_keyboard = data.map(item => {\n  const path = item.json.path;\n  const folderName = decodeURIComponent(path.split('/').slice(-2, -1)[0]);\n\n  return [\n    {\n      text: folderName,\n      callback_data: `open_${path}`\n    }\n  ];\n});\n\n// Возвращаем один общий объект\nreturn [\n  {\n    json: {\n      reply_markup: {\n        inline_keyboard\n      }\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        656,
        -16
      ],
      "id": "73b7e54e-a438-442b-87f1-c1cef7d3c571",
      "name": "Преобразуем папки клиентов в подкоманды"
    },
    {
      "parameters": {
        "jsCode": "const folders = $('Получаем папки клиентов').all();\n// Берём callback_data, если есть, иначе текст сообщения\nconst telegram = $('Telegram Trigger').first().json;\nconst callbackData = telegram.callback_query?.data || telegram.message?.text || null;\n\n// Извлекаем path из callbackData\nconst match = callbackData.match(/^open_(.+)$/);\nconst path = match ? match[1] : null;\n\n// Проверяем, есть ли такой path в списке\nconst exists = !!(path && folders.some(f => f.json.path === path));\n\nreturn [\n  {\n    json: {\n      callbackData,\n      path: path ? decodeURIComponent(path) : null,\n      isKnown: exists\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        656,
        224
      ],
      "id": "01c40435-df47-4d67-89d2-a6b9b5203bdb",
      "name": "Проверяем доступность подкоманды"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "8aad463c-0174-46c1-91f2-292cf3ae80db",
              "leftValue": "={{ $('Проверяем доступность подкоманды').item.json.isKnown }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        864,
        224
      ],
      "id": "5dd7b85d-cd23-4feb-a96f-4b3a1bc3b320",
      "name": "Если такая подкоманды есть"
    },
    {
      "parameters": {
        "chatId": "={{ $('Задаём переменные').first().json.telegram_chat_id }}",
        "text": "Такой подкоманды нет!",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1072,
        448
      ],
      "id": "3af04460-018b-4e0b-ac78-1ec887dd9df7",
      "name": "Отправляем: такой подкоманды нет",
      "webhookId": "502342ff-b06b-4f6d-a11f-a995152bc99e",
      "credentials": {
        "telegramApi": {
          "id": "GeDZDSpvn0VuaZQE",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "31a5e172-9ac3-4796-b7b9-433427621118",
              "leftValue": "={{ $('Telegram Trigger').item.json.message.text }}",
              "rightValue": "={{ $('Задаём переменные').item.json.command_text }}",
              "operator": {
                "type": "string",
                "operation": "startsWith"
              }
            },
            {
              "id": "995b5668-12c0-44b8-b12b-ef73d41f4734",
              "leftValue": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
              "rightValue": "={{ $('Задаём переменные').item.json.telegram_chat_id }}",
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        432,
        0
      ],
      "id": "07a41ca2-4d90-41c2-9c02-469d5f518014",
      "name": "Если это команда"
    },
    {
      "parameters": {
        "chatId": "={{ $('Задаём переменные').first().json.telegram_chat_id }}",
        "text": "Файла аватара нет!",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        4096,
        224
      ],
      "id": "6cc21ce9-e979-4b3d-b3a6-489cf2c7e482",
      "name": "Отправляем: файла аватара нет",
      "webhookId": "502342ff-b06b-4f6d-a11f-a995152bc99e",
      "credentials": {
        "telegramApi": {
          "id": "GeDZDSpvn0VuaZQE",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first();\n\nif (item.binary) {\n  // Берём первый (и единственный) ключ бинарника\n  const oldKey = Object.keys(item.binary)[0];\n\n  // Копируем данные под новым ключом\n  item.binary.product_img = { ...item.binary[oldKey] };\n\n  // Удаляем старый \"пустой\" ключ\n  delete item.binary[oldKey];\n}\n\nreturn $input.all();\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2144,
        192
      ],
      "id": "d82e321a-1d02-4ec1-b9fa-c91e958b8540",
      "name": "Переименовываем ключ бинарника"
    },
    {
      "parameters": {
        "operation": "download",
        "path": "=/{{ $('Если такая подкоманды есть').first().json.path }}{{ $json.img }}",
        "binaryPropertyName": "background_img"
      },
      "type": "n8n-nodes-base.nextCloud",
      "typeVersion": 1,
      "position": [
        3664,
        208
      ],
      "id": "d0916cf9-c2b2-479f-b279-1ba39ce43026",
      "name": "Скачиваем файл аватара",
      "credentials": {
        "nextCloudApi": {
          "id": "wYchkjy0O3Ge3xUN",
          "name": "NextCloud account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "8c30477f-78a2-4774-a854-1e41f3edf410",
              "leftValue": "={{ $json.error }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notExists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        3856,
        208
      ],
      "id": "80e23c48-84af-4508-bfd3-87a9ee9d523b",
      "name": "Если файла аватара нет"
    },
    {
      "parameters": {
        "operation": "download",
        "path": "=/{{ $('Если такая подкоманды есть').first().json.path }}characteristics.txt",
        "binaryPropertyName": "characteristics"
      },
      "type": "n8n-nodes-base.nextCloud",
      "typeVersion": 1,
      "position": [
        1296,
        208
      ],
      "id": "3ade9065-159d-4e4a-891c-99fed7b48a08",
      "name": "Получаем характеристику аватара",
      "credentials": {
        "nextCloudApi": {
          "id": "wYchkjy0O3Ge3xUN",
          "name": "NextCloud account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "8c30477f-78a2-4774-a854-1e41f3edf410",
              "leftValue": "={{ $json.error }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notExists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1488,
        208
      ],
      "id": "0c106d51-ef74-46ca-9d35-148a9b71a290",
      "name": "Если файла характеристики нет"
    },
    {
      "parameters": {
        "chatId": "={{ $('Задаём переменные').first().json.telegram_chat_id }}",
        "text": "Файла характеристики нет!",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1504,
        448
      ],
      "id": "84a8ae30-ae22-4617-9d1f-857c411d3ff8",
      "name": "Отправляем: файла характеристики нет",
      "webhookId": "502342ff-b06b-4f6d-a11f-a995152bc99e",
      "credentials": {
        "telegramApi": {
          "id": "GeDZDSpvn0VuaZQE",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Берём первый элемент\nconst item = $input.first();\n\nconst binary = item.binary?.characteristics;\nif (!binary?.data) {\n  return [{ json: { error: 'no binary characteristics' } }];\n}\n\n// В n8n есть встроенный global Buffer\nconst buf = Buffer.from(binary.data, 'base64'); // преобразуем base64 в байты\nconst text = buf.toString('utf8'); // если текст\n\n// Парсим JSON, если нужно\nlet parsed = null;\ntry { parsed = JSON.parse(text); } catch (e) {}\n\nreturn [{\n  json: {\n    filename: binary.fileName || null,\n    mimeType: binary.mimeType || null,\n    text,\n    json: parsed\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1712,
        192
      ],
      "id": "d2192e6c-ca62-41ab-b2c3-619d27d19216",
      "name": "Получаем текст из файла характеристики"
    },
    {
      "parameters": {
        "operation": "sendAndWait",
        "chatId": "={{ $('Задаём переменные').first().json.telegram_chat_id }}",
        "message": "Отлично! Теперь пришлите картинку для этого клиента 👇",
        "responseType": "customForm",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Описание товара",
              "fieldType": "textarea",
              "requiredField": true
            },
            {
              "fieldLabel": "Картинка товара",
              "fieldType": "file",
              "multipleFiles": false,
              "acceptFileTypes": ".jpg, .png",
              "requiredField": true
            }
          ]
        },
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1936,
        192
      ],
      "id": "ea050ab0-dd5b-494e-a417-785bd90cc5c6",
      "name": "Просим указать описание и картинку продукта",
      "webhookId": "502342ff-b06b-4f6d-a11f-a995152bc99e",
      "credentials": {
        "telegramApi": {
          "id": "GeDZDSpvn0VuaZQE",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatDeepSeek",
      "typeVersion": 1,
      "position": [
        2592,
        384
      ],
      "id": "69cf6807-f215-41d5-a1ba-ab130e2ae1af",
      "name": "DeepSeek Chat Model",
      "credentials": {
        "deepSeekApi": {
          "id": "DGsjf23KYMDgWz0d",
          "name": "DeepSeek account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Task:\nYou are a creative scene writer for short lifestyle and product videos.\nYour goal is to create 4–5 realistic short scenes that include:\n\nbackground object (for example: a person, table, room, etc.)\n\nproduct (a generic item defined by the user)\n\nsituation and action, both described in English\n\nimg — the filename of the background image used in this scene\n\nScenes must be logically connected and realistic — no unrelated actions, fantasy elements, or extra characters.\nThey should look like short, natural video moments for advertising or social media.\n\nResponse format (always JSON):\n\n[\n  {\n    \"img\": \"\",\n    \"situation\": \"\",\n    \"action\": \"\"\n  }\n]\n\n\nGuidelines:\n\nKeep descriptions natural and lifelike (real lighting, genuine emotions, common gestures).\n\nThe action should flow logically from the situation.\n\n“Situation” = setting and initial pose.\n\n“Action” = what the person does with the product.\n\nMaintain a neutral tone — no brand mentions, no exaggeration.\n\nEach scene should be 2–4 sentences long.\n\nEach provided image must appear in at least one scene. Images may repeat if there are fewer images than scenes.\n\nInput data:\n\nBackground objects with images: {{ $('Получаем текст из файла характеристики').first().json.text }}\n\nProduct: {{ $('Просим указать описание и картинку продукта').first().json.data[\"Описание товара\"] }}",
        "options": {
          "passthroughBinaryImages": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        2592,
        192
      ],
      "id": "a8727776-4a8e-4f78-b49e-cd386f08f4a1",
      "name": "AI создаёт сценарии"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "9ebf146e-b138-4d4a-8771-52730fc45f14",
              "name": "scenarios",
              "value": "={{ $json.output.replace(/^```json\\s*/, '').replace(/```$/, '').parseJson() }}",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2928,
        192
      ],
      "id": "bbad5503-f163-407f-978a-9575057cc534",
      "name": "Парсим json сценариев"
    },
    {
      "parameters": {
        "options": {
          "reset": "={{ $node['Loop Over Items'].context[\"done\"] }}"
        }
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        3376,
        192
      ],
      "id": "a5e8032d-d185-4422-a84d-127ebaf9fcf5",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "fieldToSplitOut": "scenarios",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        3136,
        192
      ],
      "id": "2db8987f-d646-49c9-8551-9ed1d2f64128",
      "name": "Split Out"
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first();\nconst { binary = {}, json } = input;\n\n// Берём бинарник product_img из нужной ноды\nconst product_img = $('Переименовываем ключ бинарника').first().binary?.product_img;\nif (!product_img) throw new Error('Binary file product_img не найден!');\n\n// Убедимся, что json — объект\nconst safeJson = (typeof json === 'object' && json !== null) ? json : { data: json };\n\nreturn [\n  {\n    json: safeJson,\n    binary: { ...binary, product_img }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4352,
        192
      ],
      "id": "6d9c314f-9d96-4982-9f94-329e74a7a44e",
      "name": "Подготавливаем картинки к передаче в sub-workflow"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "mode": "list",
          "value": "TvNuJcSQfLkzRzl9",
          "cachedResultName": "Product video topview.ai"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        4576,
        192
      ],
      "id": "79897884-5c21-4632-b920-5a19771d5b8e",
      "name": "Запускаем генерацию видео продукта"
    },
    {
      "parameters": {
        "url": "={{ $('Запускаем генерацию видео продукта').first().json.result.videos[0].originVideo.filePath }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file",
              "outputPropertyName": "=video_{{ $runIndex }}"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4784,
        192
      ],
      "id": "554cba1c-7696-4850-8f32-ddec80472c48",
      "name": "Скачиваем видео продукта"
    },
    {
      "parameters": {
        "resource": "folder",
        "path": "=/{{ $('Если такая подкоманды есть').first().json.path }}video_creation_process/{{ $executionId }}"
      },
      "type": "n8n-nodes-base.nextCloud",
      "typeVersion": 1,
      "position": [
        1088,
        208
      ],
      "id": "741b5a2f-0548-45c3-8f2a-053b818ae2d0",
      "name": "Создаём папку для временных видео",
      "credentials": {
        "nextCloudApi": {
          "id": "wYchkjy0O3Ge3xUN",
          "name": "NextCloud account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "147d7694-8c51-4df6-b678-4759351379b5",
              "name": "telegram_chat_id",
              "value": "1781493994",
              "type": "string"
            },
            {
              "id": "9a6a8056-1326-4b21-8773-f71d69a52243",
              "name": "command_text",
              "value": "/ai_video_generation_for_clients_product",
              "type": "string"
            },
            {
              "id": "3f0f00cd-0f1b-4c72-af8b-15ddc88a6ac8",
              "name": "nextcloud_login",
              "value": "n8n_admin_nextcloud",
              "type": "string"
            },
            {
              "id": "39a09cb1-f22c-4995-b9ec-21983fe12e61",
              "name": "nextcloud_pass",
              "value": "pTxKH-MrAj4-9NsRX-KJpo7-Xc8gA",
              "type": "string"
            },
            {
              "id": "3320edb4-e455-46a4-a831-0b2b00218673",
              "name": "nextcloud_domain",
              "value": "194.87.86.232:8080",
              "type": "string"
            },
            {
              "id": "ee0f52a2-8ffd-4e46-8ed2-7ea01193fe2b",
              "name": "ffmate_domain",
              "value": "1781493994",
              "type": "string"
            },
            {
              "id": "75d671bf-4434-4e47-a402-4edf0c979246",
              "name": "scale_filter",
              "value": "scale=832:832:force_original_aspect_ratio=decrease,pad=832:832:(ow-iw)/2:(oh-ih)/2",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        48,
        0
      ],
      "id": "b4a930ac-937d-4bcd-b6a5-5c908ccd472e",
      "name": "Задаём переменные"
    },
    {
      "parameters": {
        "jsCode": "// --- Входной массив файлов\nconst files = $input.all(); // массив объектов n8n\n\n// --- Настройки из отдельного Set Node (или переменных)\nconst vars = $('Задаём переменные').first().json;\nconst username = vars.nextcloud_login;\nconst password = vars.nextcloud_pass;\nconst domain = vars.nextcloud_domain;\nconst baseUrl = `http://${encodeURIComponent(username)}:${encodeURIComponent(password)}@${domain}/remote.php/webdav/`;\n\n// --- Настройки фильтра\nconst scaleFilter = vars.scale_filter || 'scale=832:832:force_original_aspect_ratio=decrease,pad=832:832:(ow-iw)/2:(oh-ih)/2';\n\n// --- Генерация строки FFmpeg inputs\nconst ffmpegInputs = files\n  .map(file => `-i \"${baseUrl}${file.json.path}\"`)\n  .join(' ');\n\n// --- Генерация фильтра для каждого видео\nconst filterParts = files.map((file, index) => `[${index}:v]${scaleFilter}[v${index}]`).join(';');\n\n// --- Конкатенация всех видео\nconst concatInputs = files.map((file, index) => `[v${index}]`).join('');\nconst concatFilter = `${concatInputs}concat=n=${files.length}:v=1:a=0[outv]`;\n\n// --- Полный filter_complex\nconst filterComplex = `${filterParts};${concatFilter}`;\n\n// --- Возврат в n8n\nreturn [\n  {\n    json: {\n      ffmpegInputs,\n      filterComplex\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3872,
        448
      ],
      "id": "e792ce00-087e-437b-b8be-01fbc1e28d61",
      "name": "Подготавливаем пути временных файлов для скачивания"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=http://{{ $('Задаём переменные').first().json.ffmate_domain }}/api/v1/tasks",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "name",
              "value": "merge_videos_task"
            },
            {
              "name": "command",
              "value": "=-y {{ $json.ffmpegInputs }} -filter_complex \"{{ $json.filterComplex }}\" -map \"[outv]\" -c:v libx264 /mnt/nextcloud_data/data/n8n_admin_nextcloud/files/{{ $('Если такая подкоманды есть').first().json.path }}video_creation_process/merged_video_{{ $executionId }}.mp4"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4096,
        448
      ],
      "id": "11d49c57-59ab-41d7-8165-68a49957671a",
      "name": "Объединяем все временные файлы в одно"
    },
    {
      "parameters": {
        "url": "=http://{{ $('Задаём переменные').first().json.ffmate_domain }}/api/v1/tasks/{{ $json.uuid }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4320,
        448
      ],
      "id": "20a9e071-362e-4ac8-97a0-e9964834b96b",
      "name": "Проверяем статус объединения"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "474a72a5-945a-4902-9b3c-1165e67aff18",
              "leftValue": "={{ $json.status }}",
              "rightValue": "=QUEUED",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            },
            {
              "id": "52321cf5-f3ca-49eb-a8a3-db2de1d2c95a",
              "leftValue": "={{ $json.status }}",
              "rightValue": "RUNNING",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        4528,
        448
      ],
      "id": "d835c3ca-2ac5-4065-b405-65a365a7dcc3",
      "name": "Если видео объдинилось"
    },
    {
      "parameters": {
        "jsCode": "const login = $('Задаём переменные').first().json.nextcloud_login;\nconst pass = $('Задаём переменные').first().json.nextcloud_pass;\n\nreturn [\n  {\n    json: {\n      basicAuth: \"Basic \" + Buffer.from(`${login}:${pass}`).toString('base64')\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4752,
        432
      ],
      "id": "e36d0f1e-c813-4187-a67a-433eb3e7fbfc",
      "name": "Подготавливаем токен для авторизации в NextCloud"
    },
    {
      "parameters": {
        "operation": "download",
        "path": "=ai_video_clients/Chipolito/video_creation_process/merged_video_{{ $executionId }}.mp4",
        "binaryPropertyName": "final_file"
      },
      "type": "n8n-nodes-base.nextCloud",
      "typeVersion": 1,
      "position": [
        5168,
        432
      ],
      "id": "a87467a0-2e40-490b-8f99-8b502e9049c5",
      "name": "Скачиваем получившиеся видео",
      "credentials": {
        "nextCloudApi": {
          "id": "wYchkjy0O3Ge3xUN",
          "name": "NextCloud account"
        }
      }
    },
    {
      "parameters": {
        "operation": "sendVideo",
        "chatId": "={{ $('Задаём переменные').first().json.telegram_chat_id }}",
        "binaryData": true,
        "binaryPropertyName": "final_file",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        5376,
        432
      ],
      "id": "6fef5c8b-ed63-4ced-9082-58761afdb17d",
      "name": "Отправляем получившиеся видео в чат",
      "webhookId": "e2555dd3-40da-45af-b284-40ac9ce25dd0",
      "credentials": {
        "telegramApi": {
          "id": "GeDZDSpvn0VuaZQE",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "amount": 10
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        4432,
        688
      ],
      "id": "fecc1977-dc9f-409a-a730-ae0a2c16cd83",
      "name": "Ожидаем объединения всех временных видео",
      "webhookId": "6a6a5a8c-99f9-4d2a-a6ec-56a68de2b688"
    },
    {
      "parameters": {
        "resource": "folder",
        "operation": "list",
        "path": "=/{{ $('Если такая подкоманды есть').first().json.path }}video_creation_process/"
      },
      "type": "n8n-nodes-base.nextCloud",
      "typeVersion": 1,
      "position": [
        3664,
        448
      ],
      "id": "36f72f90-32eb-4bbd-b3d4-6c22a15c6f45",
      "name": "Получаем все временные видео",
      "credentials": {
        "nextCloudApi": {
          "id": "wYchkjy0O3Ge3xUN",
          "name": "NextCloud account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Задаём переменные').first().json.telegram_chat_id }}",
        "text": "Начинаем процесс генерации!",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        2368,
        192
      ],
      "id": "8a2120db-0de1-46f6-b4ac-8a437f8334e3",
      "name": "Отправляем: начинаем процесс генерации",
      "webhookId": "16a248f6-1ead-4551-86a4-030102042413",
      "credentials": {
        "telegramApi": {
          "id": "GeDZDSpvn0VuaZQE",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=http://{{ $('Задаём переменные').first().json.nextcloud_domain }}/ocs/v2.php/apps/scanapi/scan-user-folder/{{ $('Задаём переменные').first().json.nextcloud_login }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/json"
            },
            {
              "name": "authorization",
              "value": "={{ $json.basicAuth }}"
            },
            {
              "name": "OCS-APIRequest",
              "value": "true"
            }
          ]
        },
        "options": {
          "allowUnauthorizedCerts": true,
          "response": {
            "response": {
              "fullResponse": true
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4976,
        432
      ],
      "id": "77d63b03-5319-4c64-a6d7-deaa96e1b661",
      "name": "Обращаемся к приложению NextCloud ScanAPI"
    },
    {
      "parameters": {
        "path": "=/{{ $('Если такая подкоманды есть').first().json.path }}video_creation_process/{{ $executionId }}/video_{{ $runIndex }}.mp4",
        "binaryDataUpload": true,
        "binaryPropertyName": "=video_{{ $runIndex }}"
      },
      "type": "n8n-nodes-base.nextCloud",
      "typeVersion": 1,
      "position": [
        4992,
        192
      ],
      "id": "980b2b4f-4aff-4db3-a099-380252ec1b33",
      "name": "Загружаем временное видео в NextCloud",
      "credentials": {
        "nextCloudApi": {
          "id": "wYchkjy0O3Ge3xUN",
          "name": "NextCloud account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Задаём переменные').first().json.telegram_chat_id }}",
        "text": "Временное видео #{{ $runIndex }} готово!",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        5216,
        192
      ],
      "id": "e0723d52-a620-4f85-b08a-c8fc03141195",
      "name": "Отправляем: временное видео готово",
      "webhookId": "d3cb2c79-b3b0-43cf-9016-982297d01994",
      "credentials": {
        "telegramApi": {
          "id": "GeDZDSpvn0VuaZQE",
          "name": "Telegram account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Задаём переменные",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Получаем папки клиентов": {
      "main": [
        [
          {
            "node": "Если это команда",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Преобразуем папки клиентов в подкоманды": {
      "main": [
        [
          {
            "node": "Отправляем доступные команды",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Проверяем доступность подкоманды": {
      "main": [
        [
          {
            "node": "Если такая подкоманды есть",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Если такая подкоманды есть": {
      "main": [
        [
          {
            "node": "Создаём папку для временных видео",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Отправляем: такой подкоманды нет",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Если это команда": {
      "main": [
        [
          {
            "node": "Преобразуем папки клиентов в подкоманды",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Проверяем доступность подкоманды",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Переименовываем ключ бинарника": {
      "main": [
        [
          {
            "node": "Отправляем: начинаем процесс генерации",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Скачиваем файл аватара": {
      "main": [
        [
          {
            "node": "Если файла аватара нет",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Если файла аватара нет": {
      "main": [
        [
          {
            "node": "Подготавливаем картинки к передаче в sub-workflow",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Отправляем: файла аватара нет",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Получаем характеристику аватара": {
      "main": [
        [
          {
            "node": "Если файла характеристики нет",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Если файла характеристики нет": {
      "main": [
        [
          {
            "node": "Получаем текст из файла характеристики",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Отправляем: файла характеристики нет",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Получаем текст из файла характеристики": {
      "main": [
        [
          {
            "node": "Просим указать описание и картинку продукта",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Просим указать описание и картинку продукта": {
      "main": [
        [
          {
            "node": "Переименовываем ключ бинарника",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DeepSeek Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI создаёт сценарии",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI создаёт сценарии": {
      "main": [
        [
          {
            "node": "Парсим json сценариев",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Парсим json сценариев": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Получаем все временные видео",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Скачиваем файл аватара",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Подготавливаем картинки к передаче в sub-workflow": {
      "main": [
        [
          {
            "node": "Запускаем генерацию видео продукта",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Запускаем генерацию видео продукта": {
      "main": [
        [
          {
            "node": "Скачиваем видео продукта",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Скачиваем видео продукта": {
      "main": [
        [
          {
            "node": "Загружаем временное видео в NextCloud",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Создаём папку для временных видео": {
      "main": [
        [
          {
            "node": "Получаем характеристику аватара",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Задаём переменные": {
      "main": [
        [
          {
            "node": "Получаем папки клиентов",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Подготавливаем пути временных файлов для скачивания": {
      "main": [
        [
          {
            "node": "Объединяем все временные файлы в одно",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Объединяем все временные файлы в одно": {
      "main": [
        [
          {
            "node": "Проверяем статус объединения",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Проверяем статус объединения": {
      "main": [
        [
          {
            "node": "Если видео объдинилось",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Если видео объдинилось": {
      "main": [
        [
          {
            "node": "Подготавливаем токен для авторизации в NextCloud",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Ожидаем объединения всех временных видео",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Подготавливаем токен для авторизации в NextCloud": {
      "main": [
        [
          {
            "node": "Обращаемся к приложению NextCloud ScanAPI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Скачиваем получившиеся видео": {
      "main": [
        [
          {
            "node": "Отправляем получившиеся видео в чат",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ожидаем объединения всех временных видео": {
      "main": [
        [
          {
            "node": "Проверяем статус объединения",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Получаем все временные видео": {
      "main": [
        [
          {
            "node": "Подготавливаем пути временных файлов для скачивания",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Отправляем: начинаем процесс генерации": {
      "main": [
        [
          {
            "node": "AI создаёт сценарии",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Обращаемся к приложению NextCloud ScanAPI": {
      "main": [
        [
          {
            "node": "Скачиваем получившиеся видео",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Загружаем временное видео в NextCloud": {
      "main": [
        [
          {
            "node": "Отправляем: временное видео готово",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Отправляем: временное видео готово": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "f6IK0LVbpFD3pp07"
  },
  "versionId": "d681067d-6f0a-4546-9e5e-1de1975658f2",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "d58e20a1c641d013b00b1a1f06865154120bb27aac246cdb772f490c81bafa70"
  },
  "id": "NdHthp16BXY1myjZ",
  "tags": []
}