n8n/bootstrap/workflows/templates/auto-task-generator.template.json
{
  "name": "Авто-генератор задач",
  "nodes": [
    {
      "parameters": {},
      "id": "trig",
      "name": "Триггер: вызов из диспетчера",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [320, 400]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {"id": "max-tasks", "name": "maxTasksToFetch", "value": 5, "type": "number"},
            {"id": "max-result", "name": "maxResultLength", "value": 500, "type": "number"},
            {"id": "max-context", "name": "maxContextItems", "value": 6, "type": "number"},
            {"id": "min-prompt", "name": "minPromptLength", "value": 5, "type": "number"},
            {"id": "answer-prompt", "name": "promptAnswerSystem", "value": "Ты — агент-ассистент OpenCode. Твоя задача — отвечать на вопросы OpenCode, чтобы он мог продолжить работу без задержек.\n\nПравила:\n1. Внимательно прочитай вопрос и контекст задачи\n2. Если OpenCode запрашивает конкретную команду — отправь её как ответ (например: /gsd-plan-phase N, /gsd-execute-phase N, /gsd-discuss-phase N, npm test, docker compose up)\n3. Если OpenCode ждёт выбор из вариантов — выбери наиболее подходящий и кратко поясни почему\n4. Если OpenCode сообщает о проблеме — задай ОДИН уточняющий вопрос, не предлагай готовое решение\n5. Если вопрос простой и ответ очевиден из контекста — отвечай прямо, не переспрашивай\n6. Отвечай кратко: одно-три предложения, по делу\n\nОтвечай ТОЛЬКО валидным JSON, без markdown-разметки:\n{\"answer\": \"твой ответ\"}", "type": "string"},
            {"id": "planner-prompt", "name": "promptPlannerSystem", "value": "Ты — агент планирования GSD-проекта. Твоя задача — проанализировать историю выполненных задач и предложить следующую команду или задачу.\n\nGSD-команды (можно предлагать как prompt):\n  /gsd-discuss-phase N   — обсудить детали фазы перед планированием\n  /gsd-plan-phase N      — исследовать и создать планы для фазы\n  /gsd-execute-phase N   — выполнить планы фазы\n  /gsd-verify-work N     — проверить результаты фазы\n  /gsd-ship N            — создать PR по фазе\n  /gsd-new-milestone     — начать следующий milestone\n  /gsd-complete-milestone — закрыть текущий milestone\n\nПравила:\n1. Изучи последнюю задачу и её результат. Определи, на каком этапе GSD-цикла находится проект\n2. Если задача завершена успешно — предложи СЛЕДУЮЩУЮ КОМАНДУ ПО ЦИКЛУ: discuss → plan → execute → verify → ship → complete → new\n3. Если результат задачи явно указывает следующую команду — используй её\n4. Если в результате видны проблемы или ошибки — предложи задачу на их исправление\n5. Не придумывай работу ради работы. Если проект завершён или на паузе — не предлагай ничего\n6. Формулируй prompt как готовую /task команду: \"/task --prompt=\\\"/gsd-plan-phase 12\\\"\"\n7. ВАЖНО: gsd-команды с / в начале — экранируй кавычками: \\\"/gsd-execute-phase 12\\\"\n\nОтвечай ТОЛЬКО валидным JSON, без markdown-разметки:\n{\"prompt\": \"/gsd-команда или описание конкретной задачи\"}", "type": "string"},
            {"id": "worker", "name": "workerAlias", "value": "={{ $('Триггер: вызов из диспетчера').first().json.worker_alias || '__DEFAULT_WORKER_ALIAS__' }}", "type": "string"}
          ]
        },
        "options": {}
      },
      "id": "config",
      "name": "Конфигурация авто-генератора",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [560, 400]
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {"mode": "id", "value": "__TASKS_TABLE_ID__"},
        "returnAll": false,
        "limit": "={{ $('Конфигурация авто-генератора').first().json.maxTasksToFetch }}",
        "matchType": "allConditions",
        "filters": {
          "conditions": [
            {"keyName": "chat_id", "keyValue": "={{ $('Триггер: вызов из диспетчера').first().json.chat_id }}"},
            {"keyName": "status", "keyValue": "done"}
          ]
        },
        "orderBy": true,
        "orderByColumn": "queued_at",
        "orderByDirection": "DESC"
      },
      "id": "get-tasks",
      "name": "Получаем историю задач",
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [800, 400],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "// Защита: если Set-нода недоступна — используем defaults\nconst config = (() => {\n  try { return $('Конфигурация авто-генератора').first().json; } catch (_) {\n    return { maxResultLength: 500, maxContextItems: 6, minPromptLength: 5,\n             promptAnswerSystem: 'Отвечай JSON: {\"answer\": \"...\"}',\n             promptPlannerSystem: 'Отвечай JSON: {\"prompt\": \"...\"}' };\n  }\n})();\n\nconst toText = (v) => String(v ?? '').trim();\nconst cleanText = (v, max) => toText(v).replace(/\\s+/g, ' ').slice(0, max ?? config.maxResultLength);\n\n// Данные из диспетчера (is_needs_input, pending_question, completed_task_key, completed_prompt, pending_options_json)\nconst dispatchInput = (() => {\n  try { return $('Триггер: вызов из диспетчера').first().json; } catch (_) { return {}; }\n})();\n\n// История задач: может быть пустой при первом запуске\nlet recentTasks = [];\ntry { recentTasks = $('Получаем историю задач').all().map(({ json }) => json); } catch (_) {}\n\nconst completedKey = dispatchInput.completed_task_key || '';\nconst context = [\n  { prompt: cleanText(dispatchInput.completed_prompt), result: cleanText(dispatchInput.completed_result), status: 'done' },\n  ...recentTasks\n    .filter((t) => String(t.task_key ?? '') !== completedKey)\n    .map((t) => ({\n      prompt: cleanText(t.prompt),\n      result: cleanText(t.result_text),\n      status: toText(t.status),\n    })),\n].slice(0, config.maxContextItems);\n\n// is_needs_input приходит из диспетчера: true = отвечаем на вопрос, false = предлагаем задачу\nconst needsInput = dispatchInput.is_needs_input === true || dispatchInput.is_needs_input === 'true';\n\nconst PROMPTS = {\n  true: {\n    system: config.promptAnswerSystem || 'Отвечай JSON: {\"answer\": \"...\"}',\n    user: `Вопрос: ${cleanText(dispatchInput.pending_question)}\\n\\nКонтекст: ${cleanText(dispatchInput.completed_prompt)}`,\n  },\n  false: {\n    system: config.promptPlannerSystem || 'Отвечай JSON: {\"prompt\": \"...\"}',\n    user: `История задач:\\n\\n${context.map((t, i) => `${i + 1}. ${t.prompt}\\n   Результат: ${t.result}`).join('\\n\\n') || 'Нет истории'}\\n\\nПредложи следующую задачу.`,\n  },\n};\n\nconst prompt = PROMPTS[String(needsInput)] || PROMPTS.false;\n\nreturn {\n  json: {\n    is_needs_input: needsInput,\n    lastTaskKey: dispatchInput.completed_task_key,\n    chatId: dispatchInput.chat_id,\n    pendingOptionsJson: dispatchInput.pending_options_json || '{}',\n    systemPrompt: prompt.system,\n    userPrompt: prompt.user,\n  },\n};"
      },
      "id": "build-ctx",
      "name": "Формируем контекст для агента",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1040, 400]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Формируем контекст для агента').first().json.userPrompt }}",
        "options": {"systemMessage": "={{ $('Формируем контекст для агента').first().json.systemPrompt }}"}
      },
      "id": "ai-agent",
      "name": "AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [1280, 400]
    },
    {
      "parameters": {"options": {"model": "deepseek-v4-pro"}},
      "id": "ds-model",
      "name": "DeepSeek Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatDeepSeek",
      "typeVersion": 1,
      "position": [1280, 560],
      "credentials": {
        "deepSeekApi": {
          "id": "__DEEPSEEK_CREDENTIAL_ID__",
          "name": "__DEEPSEEK_CREDENTIAL_NAME__"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const toText = (v) => String(v ?? '').trim();\n\n// Защита: AI Agent может не вернуть данных\nlet rawOutput = {};\ntry { rawOutput = $('AI Agent').first().json; } catch (_) {}\nconst content = toText(rawOutput.output ?? rawOutput.text ?? '');\n\nif (!content) {\n  return { json: { error: 'AI вернул пустой ответ' } };\n}\n\n// Извлекаем JSON из ответа AI с учётом вложенных скобок и строк\nfunction extractJson(text) {\n  // 1. Строгий парсинг после удаления markdown-обёртки\n  const stripped = text.replace(/```(?:json)?\\n?/g, '').replace(/```/g, '').trim();\n  try { return JSON.parse(stripped); } catch (_) {}\n\n  // 2. Ищем top-level { ... } — посимвольно, с учётом строк и escape\n  const start = text.indexOf('{');\n  if (start === -1) return null;\n  let depth = 0, inString = false, escape = false;\n  for (let i = start; i < text.length; i++) {\n    const ch = text[i];\n    if (escape) { escape = false; continue; }\n    if (ch === '\\\\') { escape = true; continue; }\n    if (ch === '\"') { inString = !inString; continue; }\n    if (inString) continue;\n    if (ch === '{') depth++;\n    if (ch === '}') {\n      depth--;\n      if (depth === 0) {\n        try { return JSON.parse(text.slice(start, i + 1)); } catch (_) { return null; }\n      }\n    }\n  }\n  return null;\n}\n\nconst parsed = extractJson(content);\nif (!parsed) {\n  return { json: { error: 'Не удалось извлечь JSON из ответа AI', content: content.slice(0, 200) } };\n}\n\nreturn { json: { parsed } };"
      },
      "id": "extract-json",
      "name": "Извлекаем JSON из ответа",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1520, 400]
    },
    {
      "parameters": {
        "jsCode": "// Защита: fallback-конфиг если Set-нода недоступна\nconst config = (() => {\n  try { return $('Конфигурация авто-генератора').first().json; } catch (_) {\n    return { minPromptLength: 5 };\n  }\n})();\n\nconst toText = (v) => String(v ?? '').trim();\n\nconst ctxInput = (() => {\n  try { return $('Формируем контекст для агента').first().json; } catch (_) { return {}; }\n})();\n\n// is_needs_input приходит из диспетчера: true = отвечаем, false = предлагаем задачу\nconst needsInput = ctxInput.is_needs_input === true;\n\nlet data = null;\ntry { data = $('Извлекаем JSON из ответа').first().json.parsed; } catch (_) {}\n\nif (!data) {\n  return { json: { error: 'Нет данных для валидации' } };\n}\n\nif (needsInput) {\n  // Ответ на вопрос — ожидаем поле answer\n  const answer = toText(data.answer);\n  if (!answer) {\n    return { json: { error: 'AI вернул пустой ответ на вопрос' } };\n  }\n  let opts = {};\n  try { opts = JSON.parse(ctxInput.pendingOptionsJson || '{}'); } catch (_) {}\n  opts.answers = [answer];\n  return {\n    json: {\n      is_needs_input: true,\n      answer,\n      pendingOptionsJson: JSON.stringify(opts),\n      taskKey: ctxInput.lastTaskKey || '',\n      chatId: ctxInput.chatId || '',\n    },\n  };\n}\n\n// Новая задача — ожидаем поле prompt\nconst prompt = toText(data.prompt);\nif (typeof data.prompt !== 'string' || prompt.length < (config.minPromptLength || 5)) {\n  return { json: { error: prompt ? 'AI вернул слишком короткий prompt' : 'AI вернул пустой prompt' } };\n}\nreturn {\n  json: {\n    is_needs_input: false,\n    prompt,\n    lastTaskKey: ctxInput.lastTaskKey || '',\n    chatId: ctxInput.chatId || '',\n  },\n};"
      },
      "id": "validate",
      "name": "Валидируем ответ",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1760, 400]
    },
    {
      "parameters": {
        "conditions": {
          "options": {"caseSensitive": true, "typeValidation": "strict", "version": 2},
          "conditions": [
            {"leftValue": "={{ $('Валидируем ответ').first().json.error }}", "rightValue": "", "operator": {"type": "string", "operation": "notEmpty"}}
          ],
          "combinator": "and"
        }
      },
      "id": "if-err",
      "name": "Есть ошибка?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [2000, 400]
    },
    {
      "parameters": {
        "conditions": {
          "options": {"caseSensitive": true, "typeValidation": "strict", "version": 2},
          "conditions": [
            {"leftValue": "={{ $('Валидируем ответ').first().json.is_needs_input }}", "rightValue": true, "operator": {"type": "boolean", "operation": "true", "singleValue": true}}
          ],
          "combinator": "and"
        }
      },
      "id": "if-answer",
      "name": "Это ответ или задача?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [2240, 400]
    },
    {
      "parameters": {
        "operation": "update",
        "dataTableId": {"mode": "id", "value": "__TASKS_TABLE_ID__"},
        "matchType": "allConditions",
        "filters": {
          "conditions": [
            {"keyName": "task_key", "keyValue": "={{ $('Валидируем ответ').first().json.taskKey }}"},
            {"keyName": "status", "keyValue": "needs_input"}
          ]
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "pending_question": "",
            "pending_options_json": "={{ $('Валидируем ответ').first().json.pendingOptionsJson }}"
          }
        }
      },
      "id": "upd-answer",
      "name": "Сохраняем ответ в ожидающую задачу",
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [2480, 240],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "operation": "insert",
        "dataTableId": {"mode": "id", "value": "__TASKS_TABLE_ID__"},
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "task_key": "={{ 'auto-' + new Date().getTime().toString(36) + '-' + Math.random().toString(36).substring(2, 8) }}",
            "source": "auto",
            "chat_id": "={{ $('Валидируем ответ').first().json.chatId }}",
            "worker_alias": "={{ $('Конфигурация авто-генератора').first().json.workerAlias }}",
            "command_name": "task",
            "prompt": "={{ $('Валидируем ответ').first().json.prompt }}",
            "status": "queued",
            "parent_task_key": "={{ $('Валидируем ответ').first().json.lastTaskKey }}",
            "context_json": "={{ JSON.stringify({ autoGenerated: true, source: 'auto-generator', parentTaskKey: $('Валидируем ответ').first().json.lastTaskKey, schemaVersion: 1 }) }}",
            "queued_at": "={{ new Date().toISOString() }}"
          }
        }
      },
      "id": "ins-task",
      "name": "Записываем задачу в БД",
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [2480, 480],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "chatId": "={{ $('Формируем контекст для агента').first().json.chatId }}",
        "text": "=🤖 Авто-задача [<code>{{ $json.task_key }}</code>]: {{ $('Валидируем ответ').first().json.prompt }}\n\n/task --auto_mode=\"false\" — выключить авто-режим",
        "additionalFields": {"appendAttribution": false, "parse_mode": "HTML"}
      },
      "id": "notify-task",
      "name": "Уведомляем о новой задаче",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [2720, 480],
      "credentials": {"telegramApi": {"id": "__TELEGRAM_CREDENTIAL_ID__", "name": "__TELEGRAM_CREDENTIAL_NAME__"}}
    },
    {
      "parameters": {
        "chatId": "={{ $('Формируем контекст для агента').first().json.chatId }}",
        "text": "=🤖 Авто-ответ: {{ $('Валидируем ответ').first().json.answer }}",
        "additionalFields": {"appendAttribution": false, "parse_mode": "HTML"}
      },
      "id": "notify-answer",
      "name": "Уведомляем об ответе",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [2720, 240],
      "credentials": {"telegramApi": {"id": "__TELEGRAM_CREDENTIAL_ID__", "name": "__TELEGRAM_CREDENTIAL_NAME__"}}
    },
    {
      "parameters": {
        "chatId": "={{ $('Формируем контекст для агента').first().json.chatId }}",
        "text": "=⚠️ Ошибка авто-генератора: {{ $('Валидируем ответ').first().json.error }}",
        "additionalFields": {"appendAttribution": false, "parse_mode": "HTML"}
      },
      "id": "notify-err",
      "name": "Сообщаем об ошибке генерации",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [2240, 640],
      "credentials": {"telegramApi": {"id": "__TELEGRAM_CREDENTIAL_ID__", "name": "__TELEGRAM_CREDENTIAL_NAME__"}}
    }
  ],
  "connections": {
    "Триггер: вызов из диспетчера": {
      "main": [[{"node": "Конфигурация авто-генератора", "type": "main", "index": 0}]]
    },
    "Конфигурация авто-генератора": {
      "main": [[{"node": "Получаем историю задач", "type": "main", "index": 0}]]
    },
    "Получаем историю задач": {
      "main": [[{"node": "Формируем контекст для агента", "type": "main", "index": 0}]]
    },
    "Формируем контекст для агента": {
      "main": [[{"node": "AI Agent", "type": "main", "index": 0}]]
    },
    "DeepSeek Chat Model": {
      "ai_languageModel": [[{"node": "AI Agent", "type": "ai_languageModel", "index": 0}]]
    },
    "AI Agent": {
      "main": [[{"node": "Извлекаем JSON из ответа", "type": "main", "index": 0}]]
    },
    "Извлекаем JSON из ответа": {
      "main": [[{"node": "Валидируем ответ", "type": "main", "index": 0}]]
    },
    "Валидируем ответ": {
      "main": [[{"node": "Есть ошибка?", "type": "main", "index": 0}]]
    },
    "Есть ошибка?": {
      "main": [
        [{"node": "Сообщаем об ошибке генерации", "type": "main", "index": 0}],
        [{"node": "Это ответ или задача?", "type": "main", "index": 0}]
      ]
    },
    "Это ответ или задача?": {
      "main": [
        [{"node": "Сохраняем ответ в ожидающую задачу", "type": "main", "index": 0}],
        [{"node": "Записываем задачу в БД", "type": "main", "index": 0}]
      ]
    },
    "Сохраняем ответ в ожидающую задачу": {
      "main": [[{"node": "Уведомляем об ответе", "type": "main", "index": 0}]]
    },
    "Записываем задачу в БД": {
      "main": [[{"node": "Уведомляем о новой задаче", "type": "main", "index": 0}]]
    }
  },
  "settings": {"executionOrder": "v1"},
  "id": "900016",
  "active": false
}
