n8n/local-files/workflows/templates/telegram-task-ingress.template.json
{
  "id": "900010",
  "name": "Telegram Task Ingress",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "id": "telegram-trigger",
      "name": "Telegram Trigger",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [260, 300],
      "credentials": {
        "telegramApi": {
          "id": "__TELEGRAM_CREDENTIAL_ID__",
          "name": "__TELEGRAM_CREDENTIAL_NAME__"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const input = $json\nconst msg = input.message || {}\nconst text = String(msg.text || '').trim()\nconst chatId = String(msg.chat?.id || '')\nconst userId = String(msg.from?.id || '')\nconst username = String(msg.from?.username || msg.from?.first_name || '')\nconst allowed = String(process.env.TELEGRAM_ALLOWED_CHAT_IDS || '').split(',').map(v => v.trim()).filter(Boolean)\n\nif (allowed.length > 0 && !allowed.includes(chatId)) return [{ skip: true, chatId, replyText: 'Доступ запрещен для этого чата.' }]\nif (!text) return [{ skip: true, chatId, replyText: 'Пустое сообщение не поставлено в очередь.' }]\n\nlet workerAlias = 'primary'\nlet mode = 'prompt'\nlet commandName = ''\nlet prompt = text\n\nif (text.startsWith('/command ')) {\n  mode = 'command'\n  const parts = text.split(/\\s+/)\n  workerAlias = parts[1] || 'primary'\n  commandName = parts[2] || 'verify'\n  prompt = ''\n} else if (text.startsWith('/task ')) {\n  const parts = text.split(/\\s+/)\n  workerAlias = parts[1] || 'primary'\n  prompt = text.replace(/^\\/task\\s+\\S+\\s*/, '').trim()\n} else if (text.startsWith('/help')) {\n  return [{ skip: true, chatId, replyText: 'Команды: /task <worker> <текст задачи> или /command <worker> <имя_команды>' }]\n}\n\nconst taskKey = `${Date.now()}-${chatId}-${Math.random().toString(36).slice(2, 8)}`\nreturn [{ skip: false, taskKey, chatId, userId, username, workerAlias, mode, commandName, prompt, contextJson: JSON.stringify([]), queuedAt: new Date().toISOString(), replyText: `Задача поставлена в очередь для worker: ${workerAlias}` }]"
      },
      "id": "parse-command",
      "name": "Parse Telegram Command",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [520, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "leftValue": "={{$json.skip}}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-skip",
      "name": "Skip?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [760, 300]
    },
    {
      "parameters": {
        "resource": "row",
        "operation": "insert",
        "dataTableId": {
          "mode": "id",
          "value": "__TASKS_TABLE_ID__"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "task_key": "={{$json.taskKey}}",
            "source": "telegram",
            "chat_id": "={{$json.chatId}}",
            "user_id": "={{$json.userId}}",
            "username": "={{$json.username}}",
            "worker_alias": "={{$json.workerAlias}}",
            "mode": "={{$json.mode}}",
            "command_name": "={{$json.commandName || ''}}",
            "prompt": "={{$json.prompt || ''}}",
            "context_json": "={{$json.contextJson}}",
            "status": "queued",
            "queued_at": "={{$json.queuedAt}}",
            "session_id": "",
            "pending_question": "",
            "pending_options_json": "[]",
            "result_text": ""
          }
        },
        "options": {
          "optimizeBulk": true
        }
      },
      "id": "queue-task",
      "name": "Queue Task",
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [1020, 400]
    },
    {
      "parameters": {
        "chatId": "={{$json.chatId}}",
        "text": "={{$json.replyText}}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "id": "telegram-reply",
      "name": "Telegram Reply",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [1260, 300],
      "credentials": {
        "telegramApi": {
          "id": "__TELEGRAM_CREDENTIAL_ID__",
          "name": "__TELEGRAM_CREDENTIAL_NAME__"
        }
      }
    }
  ],
  "connections": {
    "Telegram Trigger": {
      "main": [[{ "node": "Parse Telegram Command", "type": "main", "index": 0 }]]
    },
    "Parse Telegram Command": {
      "main": [[{ "node": "Skip?", "type": "main", "index": 0 }]]
    },
    "Skip?": {
      "main": [
        [{ "node": "Telegram Reply", "type": "main", "index": 0 }],
        [{ "node": "Queue Task", "type": "main", "index": 0 }]
      ]
    },
    "Queue Task": {
      "main": [[{ "node": "Telegram Reply", "type": "main", "index": 0 }]]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
