n8n/local-files/workflows/opencode-task-entry.json
{
  "id": "900001",
  "name": "OpenCode Task Entry",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "opencode/task",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-opencode-task",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        260,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "const fs = require('fs')\nconst routing = JSON.parse(fs.readFileSync('/files/opencode-routing.json', 'utf8'))\nconst input = $json\nconst workerAlias = input.worker || input.workerAlias || routing.defaultWorker || Object.keys(routing.workers)[0]\nconst worker = routing.workers[workerAlias]\nif (!worker) throw new Error(`Неизвестный worker alias: ${workerAlias}`)\nconst password = process.env[worker.passwordEnv || '']\nif (!password) throw new Error(`Не найден пароль для worker alias: ${workerAlias}`)\nconst authHeader = 'Basic ' + Buffer.from(`${worker.username}:${password}`, 'utf8').toString('base64')\nreturn [{ workerAlias, worker, opencodeAgent: input.agent || routing.defaultAgent || 'build', authHeader, endpoints: { health: `${worker.baseUrl}${routing.endpoints.health}`, openapi: `${worker.baseUrl}${routing.endpoints.openapi}`, sessionCreate: `${worker.baseUrl}${routing.endpoints.sessionCreate}`, sessionMessage: `${worker.baseUrl}${routing.endpoints.sessionMessage}`, sessionCommand: `${worker.baseUrl}${routing.endpoints.sessionCommand}` }, prompt: input.prompt || '', commandName: input.commandName || input.command || '', sessionId: input.sessionId || '', context: Array.isArray(input.context) ? input.context : [], metadata: input.metadata || {}, original: input }]"
      },
      "id": "code-route-worker",
      "name": "Route Worker",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        520,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$json.endpoints.sessionCreate}}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{$json.authHeader}}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { title: $json.original?.title || 'n8n-task' } }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          },
          "timeout": 1800000
        }
      },
      "id": "http-create-session",
      "name": "Create Session",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        780,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "const route = $('Route Worker').first().json\nconst sessionResponse = $json\nconst sessionId = sessionResponse.id || sessionResponse.data?.id || sessionResponse.sessionId\n\nif (!sessionId) {\n  throw new Error('Не удалось получить sessionId из ответа OpenCode')\n}\n\nconst promptText = [\n  ...(route.context || []).map((item) => String(item)),\n  String(route.prompt || ''),\n].filter(Boolean).join('\\n\\n')\n\nreturn [{\n  ...route,\n  sessionId,\n  promptText,\n  messageUrl: route.endpoints.sessionMessage.replace(':id', sessionId),\n  commandUrl: route.endpoints.sessionCommand.replace(':id', sessionId),\n}]"
      },
      "id": "code-prepare-task",
      "name": "Prepare Task",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1040,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "leftValue": "={{$json.commandName}}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-command-or-prompt",
      "name": "Use Command?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1300,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$json.commandUrl}}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{$json.authHeader}}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { command: $json.commandName, arguments: {} } }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          },
          "timeout": 1800000
        }
      },
      "id": "http-run-command",
      "name": "Run Command",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1560,
        220
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$json.messageUrl}}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{$json.authHeader}}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { agent: $json.opencodeAgent, parts: [{ type: 'text', content: $json.promptText }] } }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          },
          "timeout": 1800000
        }
      },
      "id": "http-send-prompt",
      "name": "Send Prompt",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1560,
        380
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {}
      },
      "id": "respond-to-webhook",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        1820,
        300
      ]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Route Worker",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route Worker": {
      "main": [
        [
          {
            "node": "Create Session",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Session": {
      "main": [
        [
          {
            "node": "Prepare Task",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Task": {
      "main": [
        [
          {
            "node": "Use Command?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Use Command?": {
      "main": [
        [
          {
            "node": "Run Command",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Run Command": {
      "main": [
        [
          {
            "node": "Respond",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Prompt": {
      "main": [
        [
          {
            "node": "Respond",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
